
:root.theme-light {
  --grey: #353430; 
  --pink: #FF8DCB; 
  --title-pink: #FFC2E6; 
  --red: #FF0070;
  --bg-image: url("../images/cover-image-light.png"); 
  --title-color: var(--title-pink); 
  --header-text-bg-color: var(--pink);
  --header-text-color: var(--grey); 
  --question-color: var(--grey); 
  --answer-title-bg-color: var(--pink); 
  --answer-title-color: var(--grey); 
  --answer-text-color: var(--grey); 
  --advice-bg-color: var(--pink); 
  --advice-title-color: var(--grey); 
  --button-color: var(--grey); 
  --decorated-color: var(--grey); 
  --border-color-opacity: #32312D66; 
  --accent-color: var(--pink); 
  --almost-white-bg: #FFF1F7;
  --page-bg-color: var(--almost-white-bg)
}

@media (prefers-color-scheme: light) {
  :root {
  --grey: #353430;
  --pink: #FF8DCB;
  --title-pink: #FFC2E6; 
  --red: #FF0070;
  --bg-image: url("../images/cover-image-light.png"); 
  --title-color: var(--title-pink); 
  --header-text-bg-color: var(--pink);
  --header-text-color: var(--grey);
  --question-color: var(--grey);
  --answer-title-bg-color: var(--pink);
  --answer-title-color: var(--grey);
  --answer-text-color: var(--grey);
  --advice-bg-color: var(--pink);
  --advice-title-color: var(--grey);
  --button-color: var(--grey);
  --decorated-color: var(--grey);
  --border-color-opacity: #32312D66; 
  --accent-color: var(--pink);
  --almost-white-bg: #FFF1F7;
  --page-bg-color: var(--almost-white-bg)
  }
}

.theme-light .rec::before, 
.theme-light .rec::after{
  display: none;
}